body {
  /* background-color: rgba(236, 238, 241, 1); */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  /* color: rgba(144, 153, 163, 1); */
  background-color: white;
}

p {
  font-family: 'Lora', serif;
  font-weight: 300;
  /* color: rgba(119, 119, 119, 1); */
  color: black;
  letter-spacing: 1px;
  text-align: left;
  font-size: .75em;
  line-height: 1.4em;
}

strong, a {
  padding: 5px;
  font-weight: 300;
  text-decoration: none;
  /* color: rgba(119, 119, 119, 1); */
  color: black;
}

h4 {
  font-weight: 400;
  color: rgba(119, 119, 119, .9);
  letter-spacing: .8px;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

h4:hover {
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
  letter-spacing: .8px;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

section {
  width: 900px;
  padding-top: 1.7em;
  padding-left: 200px;
  overflow: hidden;
  padding-bottom: 2em;
}

section aside {
  width: 200px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
  margin-left: -200px;
  text-align: right;
}

section aside dl {
  font-size: 0.8em;
}

footer {
  position: relative;
  margin: 0px auto;
  margin-bottom: 20px;
}

footer p, footer small {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.medium-light {
  opacity: .4;
  transition: opacity .8s;
  -webkit-transition: opacity .8s;
  -moz-transition: opacity .8s;
}

.medium-light:hover {
  opacity: .8;
  transition: opacity .8s;
  -webkit-transition: opacity .8s;
  -moz-transition: opacity .8s;
}

.light {
  opacity: .2;
}

.holder {
  margin: 0 auto;
  max-width: 900px;
}


#header {
  margin-bottom: 50px;
}

#header h1 {
  margin: 0;
  padding: 0 15px;
  font-size: 5em;
  font-weight: 300;
  color: rgba(119, 119, 119, .9);
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

#header h1:hover {
  color: rgba(100, 100, 100, 1);
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

#header img {
  max-width: 100px;
  position: relative;
}

#content {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  min-height: 650px;
}

#description {
  margin-top: 10em;
}

.top-sector-cubes {
  background: url('../images/top-cubes.jpg') repeat-x;
  width: 100%;
  height: 130px;
  display: block;
  position: fixed;
  bottom: 60;
  z-index: -9999;
  opacity: .5;
}

.content-sector-cubes {
  background: url('../images/cubes-body.jpg') repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: -9999;
  opacity: .2;
  bottom: 0;
}

#name a, #company a, #github a, #coderwall a, #twitter a, #facebook a, #email a, #skype a {
  transition: background .5s;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
}

#name a:hover, #company a:hover, #github a:hover, #coderwall a:hover, #twitter a:hover, #facebook a:hover, #email a:hover, #skype a:hover {
  transition: background .5s;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  color: white;
  cursor: pointer;
}

#name a {
  background: rgba(0, 143, 107, .15);
}

#name a:hover {
  background: rgba(0, 143, 107, .8);
}

#company a {
  background: rgba(255, 119, 0, .1);
}

#company a:hover {
  background: rgba(255, 119, 0, .8);
}

#github a, #coderwall a {
  background: rgba(80, 80, 80, .1);
}

#coderwall a:hover {
  background: rgba(80, 80, 80, .5);
}

#github a:hover {
  background: rgba(80, 80, 80, .8)
}

#twitter a {
  background: rgba(0, 160, 209, .1);
}

#facebook a {
  background: rgba(59, 89, 152, .1);
}

#twitter a:hover {
  background: rgba(0, 160, 209, .8);
}

#facebook a:hover {
  background: rgba(59, 89, 152, .8);
}

#email a {
  background: rgba(255, 42, 53, .1);
}

#email a:hover {
  background: rgba(255, 42, 53, .8);
}


#skype a {
  background: rgba(0, 175, 240, .1);
}

#skype a:hover {
  background: rgba(0, 175, 240, .8);
}


.button {
  width: 100px;
  padding: 13px 35px;
  position: absolute;
  margin-top: 20px;
  margin-left: -5px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,.1) 0 1px 0;
  box-shadow: rgba(0,0,0,.1) 0 1px 0;


  background: none repeat scroll 0 0 rgba(0, 143, 107, 1);

  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;

  transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
}

.button:hover {
  background: #b5b5b5;
  color: #434343;
  cursor: pointer;
}

/* Top Bar */

#top {
  left: 0;
  letter-spacing: 0px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 50px;
}

#top .quad.bg {
  background: #fff;
  width: 100%;
  padding: 25px 0px 25px;
}

#top .quad {
  float: left;
  margin-right: 4%;
  width: 22%;
  text-align: center;
}

.quad a {
  padding: 25px 0px;
}

#nav-pills a:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid rgba(52, 152, 219, 1);
}

#top .quad.right {
  margin: 0;
}

/* End of Top Bar */

/* Vertical Spacers */

.v-spacer10 {
  height: 10px;
}

.v-spacer15 {
  height: 15px;
}

.v-spacer20 {
  height: 20px;
}



/* End of Vertical Spacers */
.clearfix {
  clear: both;
}
